sudo: false
language: python
# Default Python version is usually 2.7
python: 3.6

matrix:
  fast_finish: true
  exclude:
  # Exclude the default Python 3.5 build
  - python: 3.6
  include:
  - os: osx
    env: TEST_TARGET=default
  - os: linux
    dist: trusty
    sudo: false
    python: 3.6
    env: TEST_TARGET=default
  - os: linux
    dist: trusty
    sudo: false
    python: 3.6
    env: TEST_TARGET=coding_standards
  allow_failures:
  - os: linux
    dist: trusty
    sudo: false
    python: 3.6
    env: TEST_TARGET=coding_standards
  - os: osx
    env: TEST_TARGET=default

before_install:
  - pwd
  - chmod +x ./ci/install_travis.sh
  - ./ci/install_travis.sh

# Test source distribution.
install:
  - python setup.py sdist && version=$(python setup.py --version) && pushd dist  && pip install yodapy-${version}.tar.gz && popd

before_script: # configure a headless display to test plot generation
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - if [[ $TEST_TARGET == 'default' ]]; then
      conda env list ;
      cp -r tests /tmp && cd /tmp ;
      pytest --cov-report term-missing --cov=yodapy --cov-config .coveragerc -vv tests ;
    fi
    
  - if [[ $TEST_TARGET == 'coding_standards' ]]; then
      flake8 --max-line-length=105 yodapy ;
    fi

after_success:
  - coveralls
