requests
pandas
xarray
matplotlib
lxml
grequests
gevent
gspread
siphon
dask
seaborn
# Current fix to _fillmismatch problem described in https://github.com/cormorack/yodapy/issues/111
netcdf4
oauth2client
progressbar2
s3fs
# Use latest echopype
git+https://github.com/OSOceanAcoustics/echopype.git
