requests
pandas
xarray
matplotlib
lxml
grequests
gevent
gspread
siphon
dask
seaborn
# Hardcoded because the latest 1.4.2 giving OSError when reading opendap.
# OSError: [Errno -45] NetCDF: Not a valid data type or _FillValue type mismatch
netcdf4==1.4.1
oauth2client
progressbar2
s3fs
echopype
